@using ascent_lab_blog_frontend.Pages.Components.Buttons
@using Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - ascent_lab_blog_frontend</title>
    <script type="importmap"></script>
</head>
<body>

<header class="header-bg">
    <div class="header container">

        <div class="ascent-logo">
            <a asp-page="Index">
                <img src="~/assets/logos/ascent-lab.svg" alt="Ascent.Lab Logo"/>
            </a>
        </div>

        <nav>
            <div class="nav container">
                <ul class="nav-list">
                    <li>
                        <img class="search-button" src="~/assets/icons/search.svg" alt="Botão de Pesquisa"/>
                    </li>
                    <li>
                        <a class="f-menu-item" asp-page="Articles">Artigos</a>
                    </li>
                    <li>
                        <a class="f-menu-item" asp-page="News">Notícias</a>
                    </li>
                    <li>
                        <a class="f-menu-item" asp-page="Guides">Guias</a>
                    </li>
                    <li>
                        <a class="f-menu-item" asp-page="Community">Comunidade</a>
                    </li>
                    <li>
                        <a class="f-menu-item" asp-page="Contact">Contato</a>
                    </li>
                    <li>
                        @await Html.PartialAsync("~/Pages/Components/Buttons/RainbowButton.cshtml", new RainbowButton { Text = "Entrar" })
                    </li>
                </ul>
            </div>
        </nav>

    </div>
</header>


<main>
    @RenderBody()
</main>

<footer>

</footer>

</body>
</html>